@model IEnumerable<WebApp.Areas.Clinicas.Models.detalles_receta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Clinicas/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dosis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.medicamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recetas.observaciones)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dosis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.observaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.medicamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recetas.observaciones)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
